<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{heading}}
      </h1>
      <h2 class="subtitle">
        {{#if user}}
          The visualisations are displayed <a href="/visuals">here</a>.
        {{else}}
          <p>No user is currently authenticated, <a href="/login">Login</a> or <a href="/signup">Signup</a>.</p>
        {{/if}}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {{#if user}}
      <p>MQTT Websockets is hosted at <strong>{{ws}}</strong>.</p>
      <p>Host: <strong>{{host}}</strong>.</p>
      <p>Current user: <strong>{{user.local.email}}</strong></p>
    {{/if}}
  </div>
</section>
