<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{heading}}
      </h1>
      <h2 class="subtitle">
        The visualisations are displayed as a <a href="/bar">Bar Graph</a> and <a href="/line">Line Graph</a>.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>MQTT Websockets is hosted at <strong>{{ws}}</strong>.</p>
    <p>Host: <strong>{{host}}</strong>.</p>

    {{#if user}}
      <p>Current user: <strong>{{user.local.email}}</strong></p>
    {{else}}
      <p>No user is currently authenticated, <a href="/login">Login</a> or <a href="/signup">Signup</a>.</p>
    {{/if}}
  </div>
</section>
